.button {
  display: inline-flex;
  justify-content: center;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  &--light {
    padding: 22px;
    color: $white-color;
    border: 2px solid $white-color;
  }

  &--dark {
    padding: 25px 42px;
    color: $primary-color;
    border: 2px solid $primary-color;
  }
}
