.tabs__nav {
  @include reset-list;

  display: flex;
  justify-content: space-between;
  max-width: 310px;
  margin-bottom: 30px;
  border-bottom: 2px solid rgba($grey-color, 0.2);
}

.tabs__nav-item {
  position: relative;
}

.tabs__nav-label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}

.tabs__nav-label span {
  color: rgba($accent-color, 0.5);
}

.tabs__nav-label input:checked ~ span {
  color: $accent-color;

  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    display: block;
    height: 2px;
    width: 100%;
    background-color: $tabs-color;
  }
}

.tabs__list {
  @include reset-list;

  display: grid;
  grid-template-columns: 1fr;
  gap: 35px;
}
